<div style="position: relative">
  <nav
    style="
      position: fixed;
      background-color: #363062;
      text-align: center;
      padding: 7px 0;
      top: 0;
      width: 100%;
      z-index: 1;
    "
  >
    <h1 style="letter-spacing: 5px; color: white; margin: 0">Welcome</h1>
  </nav>

  <div style="display: flex; justify-content: center; margin-top: 5rem">
    <button
      name="{{ cat }}"
      #c
      (click)="search(c.name)"
      *ngFor="let cat of categories"
      class="button"
    >
      {{ cat }}
    </button>
  </div>
  <div class="grid">
    <div
      [@itemAnimation]
      *ngFor="let item of products | Filter: searchWord |Expiry"
      class="box"
    >
      <h4 style="margin-top: 0; color: #363062">{{ item.name }}</h4>
      <p
        style="overflow: hidden; white-space: nowrap; text-overflow: ellipsiss"
      >
        {{ item.desc }}
      </p>
      <p>{{ item.date }}</p>
      <img
        src="https://assets.codepen.io/2301174/icon-team-builder.svg"
        alt=""
      />
    </div>
  </div>
  <!-- <h1
    style="text-align: center; color: gray"
    [hidden]="products | Filter: searchWord"
  >
    Select category
  </h1> -->
</div>
